Flask==2.3.2
Flask-Cors==3.0.10
Flask-Limiter==2.8.1
librosa==0.10.0
numpy==1.24.3
pyworld==0.3.2
scikit-learn==1.3.0
soundfile==0.12.1
gevent==22.10.2  # Обновлённая версия с поддержкой Python 3.11
gunicorn==20.1.0
psutil==5.9.0
cython==0.29.36  # Добавляем явную зависимость